* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}

.navbar {
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 30px;
}

.navbar ul {
  list-style-type: none;
  padding: 10px;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #575757;
  border-radius: 5px;
}

img {
  border-radius: 12px;
}

main {
  text-align: center;
}

section {
  margin-bottom: 40px;
}

section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}